.App {
  text-align: center;
  color: white;

  font-family: monospace;
}

.logo {
  height: 200px;
  padding-top: 20px;
  padding-left: 50px;
  display: inline;
}

.logo{

  margin: 20px;
  align: left;
  display:inline-block;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 40px 20px 20px 20px;
  color: white;
  font-family: monospace;
}

.App-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;
}

.App-intro {
  font-size: large;
}

header.block-jams {
  font-family: monospace;
}

main {
  color: white;
  padding: 50px;
}

nav {
  padding:20px 40px 20px 20px;
  text-align: right;
  font-size: 30px;
  display: inline;

  list-style: none;
}

ul {
  list-style-type: none;
}

nav link {
  padding: 10px 10px 10px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
